/dist
dist
.env
.env.*
**/.env
**/.env.*
.DS_Store
/uploads
node_modules
yarn-error.log

.snapshot-*
/docs
.idea
.claude
CLAUDE.md

coverage

./tsconfig.tsbuildinfo

.yarn
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.astro
.medusa
.cache
.turbo

packages/statistics
packages/webhooks

apps/apnea-backend
apps/apnea-storefront
