[submodule "apps/apnea-storefront"]
	path = apps/apnea-storefront
	url = git@github.com:apneasci/medusa-storefront.git
[submodule "apps/apnea-backend"]
	path = apps/apnea-backend
	url = git@github.com:apneasci/medusa-backend.git
