/dist
dist
.env
.env.*
**/.env
**/.env.*
.DS_Store
/uploads
node_modules
yarn-error.log

.snapshot-*
docs
.idea
.claude
CLAUDE.md
.vscode

coverage

./tsconfig.tsbuildinfo

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.medusa
.cache
.turbo
