# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

# Generated — rewritten by apps/docs scripts, so formatting them is undone on the next run
apps/docs/public/r/
apps/docs/schemas/

# Miscellaneous
/static/
node_modules
.medusa
dist
.turbo
